@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    background:linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.5)), url("images/IMG-20190727-WA0048.jpg") no-repeat center center/cover;
    text-align: start;
    
      }
    
      .logo{
        display: block;
        margin:0 auto;
        border-radius: 65px;
      }
      nav {
        margin: 0 auto;
        padding: 0.1% 0;
        margin-right: 0;
      }
      nav > ul{
        text-align: center;
        
      }
      ul > li{
        display: inline-block;
        padding: 40px;
        text-align: center;
      }
      ul > li > a{
        text-transform: uppercase;
        padding: 0.2%;
        text-decoration: none;
        color: black;
        font-size: 30px;
        font-weight: bold;
      }
      ul > li > a:hover{
        box-shadow: 0 0 0 0.625em rgba(0, 0, 0, 0.1), insert 0 0 0.625em rgba(255, 255, 255, 0.6);
        color: blue;
      }
      .only {
        text-align: center;
      }
      p,li{
        font-size: 120%;
        font-weight: 500;
        color: black;
      }

      .about{
        padding: 10px;
        margin: 20px;
      }
      .footer{
        text-align: center;
       background-color: rgb(80, 138, 161); 
       padding: 5px;
       
       
       
      }
      figure img {
        margin-top: 3px;
      }
      figcaption{
        font-style: italic;
        font-weight: bold;
      }
      
      .container, h1, h2, h3 {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        text-align: start;
      }
      .about{
        text-align: center;
      }
      .objective, ol, li,h3, p{
        padding:5px;

      }